<form action="{% url 'publication' pub.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in comment_form %}
 
            {% if field.errors %}
                <div>
                    {{ field.errors }}
                </div>
            {% endif %}

            {% if field.label != 'Author' %}
                {% if field.label != 'Pub' %}

                    {{ field }}

                {% endif %}
            {% endif %}


    {% endfor %}
    <button type="submit" name="button">+</button>

</form>