{% extends 'index.html' %}
{% load static %}



{% block content %}

    <div class="create-post-block">

    <h1 class="section-name-h1">Создать пост</h1>

    <form action="{% url 'create_post_url' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div>
                {% if field.errors %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endif %}

                {% if field.label == 'Author' %}
    
                {% elif field.label == 'Введите текст публикации' %}
                    <div class="create-pub-text">
                        <label for="#">Введите текст публикации</label>
                        {{ field }}
                    </div>
                {% elif field.label == 'Загрузите фото' %}
                    <div class="create-pub-img">
                        <label for="id_pub_pic" class="load-pic-label"><span>Выбрать фото</span></label>
                        {{ field }}
                    </div>
                {% endif %}

            </div>
        {% endfor %}
        <div class="create-post-button">
            <button type="submit" name="button" class="create-post-button">+</button>
        </div>
        

    </form>

    </div>




{% endblock %}

{% block extra_js %}
<script src="{% static 'js/load_image.js' %}" type="text/javascript"></script>
{% endblock %}