{% extends 'index.html' %}

{% block content %}


    <!-- Если авторизован, смотрит свой профиль -->
    <div class="profile-head">
    <div class="head-content">
        <div class="profile-img-and-username">
            <img src="{{ current_user.profile_pic.url }}" alt="Фото профиля">
            <h1>{{current_user.username.username}}</h1>
        </div>
        
        <div class="profile-info">
            <h3>{{ current_user.name }}</h3>
            <p>Телефон: {{ current_user.phone }}</p>
            <p>Почта: {{ current_user.email }}</p>
        </div>
    


    {% if current_user.username.username == user.username %}
        <div class="profile-edit-or-exit">
            <a href="{% url 'profile_edit' %}" class="p-edit">Редактировать профиль</a>
            <a href="{% url 'logout' %}" class="p-exit">Выйти</a>
        </div>  
    {% else %}


        {% if user in current_user.subscribers.all %}
            <!-- Отписка -->
            <div class="subscription-button">
                <a href="{% url 'subscription' current_user.username.id %}" class="unsub">Отписаться</a>
            </div>
        {% else %}
            <!-- Подписка -->
            <div class="subscription-button">
                <a href="{% url 'subscription' current_user.username.id %}" class="sub">Подписаться</a>
            </div>
        {% endif %}
        
    {% endif %}
    
    </div>
    </div>
    

    <div class="publications">
    {% if all_pubs %}

        {% for pub in all_pubs %}
        <div class="publication">
            <div class="pub-top">
            <div class="container-90">
                    <div class="pub-top-vertical-align">
                        <a href="{% url 'profile' pub.author.username %}">
                        <img class="pub-img-profile"
                                width="35px" src="{{pub.author.profile_info.profile_pic.url}}" 
                                alt="Фото профиля">
                        <h3>{{pub.author.username}}</h3>
                        </a>
                    </div>
            </div>
            </div>
            
            <a href="{% url 'publication' pub.id %}"><div class="pub-img-div"><img src="{{pub.pub_pic.url}}" alt="Фото" class="pub-img"></div></a>

            <div class="pub-bottom">
            <div class="container-90">

                <div id="like-section-{{ pub.id }}"> 
                <div class="like-section">         
                        {% include 'like_button.html' %}
                        <p class="like-counter">Лайков {{pub.total_likes}}</p>
                </div>
                </div>

                <p><b>{{pub.author.username}}</b> {{pub.pub_text}}</p>
                <p class="pub-date">{{pub.pub_date}}</p>
            </div>
            </div>
        </div>
        {% endfor %}

    {% else %}

    <h3>У вас пока нет публикаций.</h3> 
 
    <div class="create-first">
        <a href="{% url 'create_post_url' %}" class="create-first-button">Добавьте первую!</a>
    </div>

    {% endif %}

    </div>

{% endblock %}

