{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1 class="section-name-h1">Рекомендации</h1>
    <h3 class="section-name-h3">Интересное</h3>
    <br>


    <div class="publications-fullwidth">
    {% if all_pubs %}
        {% for pub in all_pubs %}
        <div class="publication">
            <div class="pub-top">
            <div class="container-90">
                    <div class="pub-top-vertical-align">
                        <a href="{% url 'profile' pub.author.username %}">
                        <img class="pub-img-profile"
                                width="35px" src="{% static pub.author.profile_info.profile_pic.url %}" 
                                alt="Фото профиля">
                        <h3>{{pub.author.username}}</h3>
                        </a>
                    </div>
            </div>
            </div>
            
            <a href="{% url 'publication' pub.id %}"><div class="pub-img-div"><img src="{% static pub.pub_pic.url %}" alt="Фото" class="pub-img"></div></a>

            <div class="pub-bottom">
            <div class="container-90">

                        {% include 'like_button.html' %}

                <p><b>{{pub.author.username}}</b> {{pub.pub_text}}</p>
                <p class="pub-date">{{pub.pub_date}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3 class="section-name">Нет ничего в пабс</h3>
    {% endif %}

    </div>

{% endblock %}

